/*

.no-wrap {
  white-space: nowrap;
}

.fixed {
  table-layout: fixed;
}

.square {
  height: 200px;
  width: 200px;
  background-color: #E0E0E0;
  border: 2px solid;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  font-family: "Open Sans", sans-serif
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: navy;
  font-weight: normal
}


.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4) {
  flex: 0 0 40px;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5) {
  flex: 0 0 40px;
}

.mat-sort-header-container {
  font-size: larger;
  font-weight: bolder;
}

:host ::ng-deep.mat-paginator .mat-paginator-container {
  justify-content: flex-start !important;
  display: flex !important;
  align-items: center !important;
  min-height: 46px !important;
  padding: 0 8px;
  flex-wrap: wrap-reverse;
  width: 100%;
  font-size: 14px !important;
  font-family: "Open Sans", sans-serif !important;
}

.btn {
  text-transform: none;
}

.mat-sort-header-button {
  font-size: larger !important;
  font-weight: bold !important;

}

*/










/*

.mat-form-field {
  font-size: 18px;
  font-style: bold;
  background-color: rgb(65, 155, 230);
  width: 100%;
}

.mat-header-cell{
   font-size: 14px;
   font-style: bold;
   color: black;
}

.example-container {
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

.mat-row:nth-child(even) {
  background-color: #F8F8F8;
}

.mat-row:nth-child(odd) {
  background-color: #FFFFFF;
}


 */


/*.mat-cell {
   row padding
  padding: 16px 0;
  padding-left: 13px;
   row border
  border-left: 1px solid  black;
  /*border-right: 1px solid black;
 }*/

/*.mat-cell:first-child {
  row border
  border-left: 1px solid  black;
}*/

/*.mat-cell:last-child {
   row border
  border-right: 1px solid black;
}*/

/*.mat-table {
   row spacing / margin
  border-spacing: 10px 8px 10px !important;
}*/

/*.mat-header-row, mat-row {
 border-bottom-width: 10px;
}

.mat-cell {
  border-left: 1px solid  black;
}*/


.mat-row:nth-child(even){
  background-color:rgb(240, 240, 240);
}

.mat-column-NumeroVolumePeriodo {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 14% !important;
  width: 14% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-DataVerbale {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-Odg {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* background-color: yellow; */
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-Pagina {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* background-color: brown; */
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-Testo {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-Luoghi {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 13% !important;
  width: 13% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding-left: 15px;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-Note {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 18% !important;
  width: 18% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding-left: 15px;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-Indice {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6% !important;
  width: 6% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-Volume {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6% !important;
  width: 6% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}



/* mat-header-cell, mat-cell {
  justify-content: center;
}

 */


/* .mat-row:nth-child(odd){
  background-color: white;
} */
